<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="scuba-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Scuba
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="scuba-link">
                <a href="{% url 'products' %}?category=regulators,bcds,computers,divemask,divesnorkel,divefins,accessories" class="dropdown-item">All Scuba</a>
                <a href="{% url 'products' %}?category=regulators" class="dropdown-item">Regulators</a>
                <a href="{% url 'products' %}?category=bcds" class="dropdown-item">BCDs</a>
                <a href="{% url 'products' %}?category=computers" class="dropdown-item">Computers</a>
                <a href="{% url 'products' %}?category=divemask" class="dropdown-item">Dive Mask</a>
                <a href="{% url 'products' %}?category=divesnorkel" class="dropdown-item">Dive Snorkel</a>
                <a href="{% url 'products' %}?category=divefins" class="dropdown-item">Dive Fins</a>
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item">Accessories</a>
                
                
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="divewear-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Divewear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category==wetsuits,drysuits,rashguards,hoods,gloves,diveboots" class="dropdown-item">All Divewear</a>
                <a href="{% url 'products' %}?category=wetsuits" class="dropdown-item">Wetsuits</a>
                <a href="{% url 'products' %}?category=drysuits" class="dropdown-item">Drysuits</a>
                <a href="{% url 'products' %}?category=rashguards" class="dropdown-item">Rashguards</a>
                <a href="{% url 'products' %}?category=hoods" class="dropdown-item">Hoods</a>
                <a href="{% url 'products' %}?category=gloves" class="dropdown-item">Gloves</a>
                <a href="{% url 'products' %}?category=diveboots" class="dropdown-item">Dive Boots</a>
                
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="learn-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Learn
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=snorkeltrip,discoverscuba,boatdives,nightdives,wreckdives,cavedives" class="dropdown-item">All Diving</a>
                <a href="{% url 'products' %}?category=snorkeltrip" class="dropdown-item">Snorkel Trip</a>
                <a href="{% url 'products' %}?category=discoverscuba" class="dropdown-item">Discover Scuba</a>
                <a href="{% url 'products' %}?category=boatdives" class="dropdown-item">Boat Dives</a>
                <a href="{% url 'products' %}?category=nightdives" class="dropdown-item">Night Dives</a>
                <a href="{% url 'products' %}?category=wreckdives" class="dropdown-item">Wreck Dives</a>
                <a href="{% url 'products' %}?category=cavedives" class="dropdown-item">Cave Dives</a>
            </div>
        </li>
    </ul>
</div>